<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Developer LuisRha</title>
</head>
<body>
    <h1>INSTITUTO SUPERIO ESPAÑA AMBATO</h1>
    <p>Con Flask y HTML.</p>
</body>
</html> -->



<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h2>Welcome, {{ current_user.username }}!</h2>
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>
